* {
    margin: 0;
    padding: 0;
    /* overflow:auto; */

}

#main {

    width: 100%;
    background-image: url("Untitleddesign\ -\ Copy.png");
    background-position: center;
    background-size: cover;
    /* opacity:0.8; */
    height: 200vh;
    /* background-color: red; */
    /* background-image: url(Untitleddesign.png) !important; */

}


.navbar {
    background-image: url(istockphoto-1384208035-1024x1024.jpg);
    background-attachment: fixed;
    display: flex;
    margin-top: 0;
/* height:78px !important ; */
}

.logo {
    padding-left: 3vw;
}

ul {

    display: flex;
    justify-content: center;
    align-items: center;

}

ul li {
    list-style: none;
    margin-top: 15px;
    margin-left: 27px;
    font-size: 1.0rem;

}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: aerial;
    font-weight: bold;
    margin: 19px;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color:purple;
    border-radius:20px;
}
.about {
    width: 40vw;
    left: 30vw !important;

    z-index: 1;


    position: relative;
    text-align: center;

    top: 20vw;
    font-size: 1.5vw;
    font-weight: bolder;
    background-color: transparent;
    /* Adjust the alpha (last) value for transparency */
    backdrop-filter: blur(10px);
    /* For a glassy effect, blur the background */
    border-radius: 10px;
    padding: 2vw;
    


}
 .join{ 
    width: 35vw;
    left: 4vw !important;

    z-index: 1;


    position: relative;
    text-align: center;

    top: 40vw;
    font-size: 1.5vw;
    font-weight: bolder;
     background-color: rgba(255, 255, 255, 0.5);
     
     backdrop-filter: blur(0.7px);
    
    border-radius: 10px; 
    padding: 2vw; 

 }
 .copyright-text{
    width:45vw;
    height:1vw;
    z-index:1;
    margin-top: 48vw;
    margin-left:2vw;
    font-size:1rem;
 }
 .row{
    display:flex;
 }
 .mr-4{
    width:0.9vw;
    height:0.9vw;
    margin-top:48vw;
    margin-left:60vw;
 }
 
.chart{
padding-left:48vw;
margin-top:-29vw;
width:30vw;


 }